* {
    box-sizing: border-box;
}

body {
    background-color:#777;
    
}

.comtainer {
    position: relative;
    width: 960px;
}
.head {
    width: 100%;
    padding: 0 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-color: #cccccc;
    overflow: hidden;
    position: relative;

}

#aboutlink {
    border-right:1px solid #777;
    padding: 0% 1%; 
}

#contactlink {
    border-right:1px solid #777;
    padding: 0% 1%;
    
}

#portfoliolink {
    padding: 0% 1%;
}

.container header h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 20%;
    text-align: center;
    margin-left: 5%; 
    padding: 3%;
    overflow: hidden;

}

.aboutMe {
    line-height: 160%;
}

.aboutMe ul {
    padding-left: 40%;
}

.aboutMe ul li {
    list-style-type: disc;
    

}

#main-nav {
    position: absolute; 
    top: 40%; 
    left: 77%;
    float: right;
    width: 100%;
}
                        
#main-nav ul {
    list-style-type: none;
}
                        
#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    text-decoration: none;
}

.logo {
    border-bottom: 1px solid darkgrey;
    position: relative;
    padding: 2%;
}

.logo p {
    width: 30%;
    color:#4aaaa5;
    
}
#profilePic {
    height: 420px;
    width: 280px;
    float:left;
    clear:left;
    position: inline;
    Border: 1px solid;
    Margin: 30px;

}

#main-info {
    position: relative;
    background-color: #ffffff;
    margin: 2% 3%;
    Border: 1px;
    padding: 2%;
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.footer {
    position: fixed;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 0.1%;
    background-color: #666666;
    color: #ffffff
}

.form{
    margin:2% 12.5%;
    clear: both;
}

label {
    
}

input {
width:100%;
margin: 2% 0%;
}

textarea {
width:100%;
margin: 2% 0%;
}

#sendButton {
width:auto;
}

.projectGrid {
    
}

Colors (Pro Tip: Use the Eye Dropper Chrome extension to find the colors that are used on webpages.)

Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:

For heading fonts use font-family: 'Georgia', Times, 'Times New Roman', serif;

For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;




Profile image in index.html:

Use a picture of yourself.



Portfolio images:

Save the images to your images folder.



Background images:

The background pattern used was found on Subtle Patterns. You can browse through that site and use whichever pattern you like.



Dimensions:

The entire content and the main section content area is 960px wide.