* {
    box-sizing: border-box;
}

body {
    background-color:#777;
}

form {
    
}
.head {
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-bottom: 0.1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    border-color: #cccccc;
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 12.5%;
}

#main-nav {
    float:right;
}
                        
#main-nav ul {
    list-style-type: none;
}
                        
#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    text-decoration: none;
}

.logo {
    float:left;
    width:33.3%;
    color:#4aaaa5;
}

#profilePic {
    height: 420px;
    width: 280px;
    float:left;
    clear:left;
    position: inline;
    Border: 1px solid;
    Margin: 30px;

}


.aboutMe {
    
    
}

#main-info {
    background-color: #ffffff;
    margin: 30px;
    Border: 1px;
    padding: 10px;
    height: fit-content;
}
.footer {
    position: fixed;
    width: 100%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 0.1%;
    background-color: #666666;
    color: #ffffff
}
Colors (Pro Tip: Use the Eye Dropper Chrome extension to find the colors that are used on webpages.)

Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:

For heading fonts use font-family: 'Georgia', Times, 'Times New Roman', serif;

For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;




Profile image in index.html:

Use a picture of yourself.



Portfolio images:

Save the images to your images folder.



Background images:

The background pattern used was found on Subtle Patterns. You can browse through that site and use whichever pattern you like.



Dimensions:

The entire content and the main section content area is 960px wide.